<!DOCTYPE>
<html>
<body>
	
	<body>

<fieldset>
    <legend>Choose Appointment dates</legend>

    <div>
        <label for="start">Start</label>
        <input type="date" id="start" name="trip"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31" />
    </div>

    <div>
        <label for="end">End</label>
        <input type="date" id="end" name="trip"
               value="2018-07-29"
               min="2018-01-01" max="2018-12-31"/ >
    </div>

</fieldset>
<input type="submit">

<table style="width:100%">
  <tr>
    <th>Id</th>
    <th>Firstname</th> 
    <th>Lastname</th>
    <th>Start Time</th>
    <th>End time</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table

	</body>
</body>
</html>