<!DOCTYPE>
<html>
<body>
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text"> <span>Welcome to</span>
            <h1>Spastics Society of Karnataka</h1>
            <p>The Spastics Society of Karnataka is a  Non-Government Organisation (NGO) dedicated to the welfare of persons with Neuro-Muscular and Developmental Disabilities.  The Society provides a Comprehensive Package of Diagnostic and Intervention Services to persons with Cerebral Palsy, Autism, Mental Retardation, Multiple Disabilities and Learning Disabilities.  <br>
              </p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">Login</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
</body>
</html>