<!DOCTYPE>
<html>
<body>
	<fieldset>
    <legend>Appointment details</legend>

    <div class="control">
        <label for="appt-time">Time:</label>
        <input type="time" id="appt-time" name="appt-time"
               min="9:00" max="18:00" required />
        <input type="time" id="appt-time" name="appt-time"
               min="9:00" max="18:00" required />
        <span class="hours">NGO hours: 9:30AM to 4:30PM</span>
    </div>

    <div class="control">
        <label for="doctor">Doctor:</label>
        <select id="doctor">
            <option value="s">Steve</option>
            <option value="m">Moreau</option>
            <option value="w">Phibes</option>
        </select>
    </div>
</fieldset>


</body>
</html>